.form-control {
    padding: 2px 2px !important;
    height: 22px;
}

.form-group {
    margin-bottom: 0.6rem;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.container-fluid {
    padding: 0px !important;
}

.btn-outline-success {
    border-color: #18A689 !important;
}

.btn-outline-success:hover {
    background-color: #18A689 !important;
}

.col-form-label {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.size {

    min-width: 800px;
}
.btn-success {
    border: 1px solid #18A689 !important;
    background-color: #18A689 !important;
}
.resize{
  
    margin-bottom: 0.8rem!important;
}